.user-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.user-details__figure {
	flex-basis: auto;
}
.user-details__list {
	flex-basis: 50%;
	list-style-type: none;
}

.user-details__list__item {
	font-size: 2em;
	text-align: left;
	padding: 1% 3%;
	border-bottom: 1px solid navy;
}

.user-details__list__item:last-child {
	border-bottom: 0px;
}
