.users-list {
	list-style-type: none;
	padding: 0px;
}

.users-list__item {
	border-radius: 10px;
	margin: 1% 1%;
	padding: 1%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	background: #ffffff;
}

.users-list__item:hover {
	background: #f4f4f4;
}

.users-list__item__name {
	flex-basis: 30%;
	font-size: 1.8em;
}

.users-list__item__img {
	border-radius: 50%;
	height: 73px;
}

.users-list__item__buttons {
	align-self: flex-end;
	text-align: right;
}